*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'primaria';
    src: url(../fonts/Freshman.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'secundaria';
    src: url(../fonts/NotoSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: primaria;
    font-weight: lighter;
    padding-top: 25px;
    padding-bottom: 20px;
}

.texto {
    font-family: secundaria;
    color:#2b2b2b;
    width: 75%;
    margin: auto;
    padding-bottom: 45px;
}

div {
    background-color: #A1E3F9;

}