*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'primaria';
    src: url(../fonts/Freshman.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'secundaria';
    src: url(../fonts/);
    font-weight: normal;
    font-style: normal;
}



Nav {
    background-color: #D1F8EF;
    font-family: "primaria";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}